<a href="https://colab.research.google.com/github/Kanusharma2002/Business-Analysis/blob/main/Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
pip install mlxtend

Requirement already satisfied: mlxtend in /usr/local/lib/python3.11/dist-packages (0.23.4)
Requirement already satisfied: scipy>=1.2.1 in /usr/local/lib/python3.11/dist-packages (from mlxtend) (1.15.3)
Requirement already satisfied: numpy>=1.16.2 in /usr/local/lib/python3.11/dist-packages (from mlxtend) (2.0.2)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.11/dist-packages (from mlxtend) (2.2.2)
Requirement already satisfied: scikit-learn>=1.3.1 in /usr/local/lib/python3.11/dist-packages (from mlxtend) (1.6.1)
Requirement already satisfied: matplotlib>=3.0.0 in /usr/local/lib/python3.11/dist-packages (from mlxtend) (3.10.0)
Requirement already satisfied: joblib>=0.13.2 in /usr/local/lib/python3.11/dist-packages (from mlxtend) (1.5.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib>=3.0.0->mlxtend) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.11/dist-packages (from matplotlib>=3.0.0->mlxtend) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib>=3.0.0->mlxtend) (4.58.4)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib>=3.0.0->mlxtend) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib>=3.0.0->mlxtend) (24.2)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.11/dist-packages (from matplotlib>=3.0.0->mlxtend) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib>=3.0.0->mlxtend) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.11/dist-packages (from matplotlib>=3.0.0->mlxtend) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.24.2->mlxtend) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.24.2->mlxtend) (2025.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn>=1.3.1->mlxtend) (3.6.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.17.0)

In [30]:
import pandas as pd

In [31]:
df = pd.read_csv('Groceries_dataset.csv')

In [32]:
print("First 5 rows of the dataset:")
print(df.head())

First 5 rows of the dataset:
   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

In [33]:
print("\nNumber of unique items:", df['itemDescription'].nunique())
print("Top 10 most frequent items:\n", df['itemDescription'].value_counts().head(10))

Number of unique items: 167
Top 10 most frequent items:
 itemDescription
whole milk          2502
other vegetables    1898
rolls/buns          1716
soda                1514
yogurt              1334
root vegetables     1071
tropical fruit      1032
bottled water        933
sausage              924
citrus fruit         812
Name: count, dtype: int64

In [34]:
df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%Y')

In [35]:
transactions = df.groupby(['Member_number', 'Date'])['itemDescription'].apply(list).reset_index()

In [36]:
print("\nFirst 5 rows of the transactions DataFrame:")
print(transactions.head())

First 5 rows of the transactions DataFrame:
   Member_number       Date                                    itemDescription
0           1000 2014-06-24                  [whole milk, pastry, salty snack]
1           1000 2015-03-15  [sausage, whole milk, semi-finished bread, yog...
2           1000 2015-05-27                         [soda, pickled vegetables]
3           1000 2015-07-24                     [canned beer, misc. beverages]
4           1000 2015-11-25                        [sausage, hygiene articles]

In [37]:
transaction_list = transactions['itemDescription'].tolist()

In [38]:
print("\nFirst 5 transactions in list format:")
for i, transaction in enumerate(transaction_list[:5]):
    print(f"Transaction {i+1}: {transaction}")

First 5 transactions in list format:
Transaction 1: ['whole milk', 'pastry', 'salty snack']
Transaction 2: ['sausage', 'whole milk', 'semi-finished bread', 'yogurt']
Transaction 3: ['soda', 'pickled vegetables']
Transaction 4: ['canned beer', 'misc. beverages']
Transaction 5: ['sausage', 'hygiene articles']

In [39]:
from mlxtend.preprocessing import TransactionEncoder

In [40]:
te = TransactionEncoder()

In [41]:
te_ary = te.fit(transaction_list).transform(transaction_list)

In [42]:
df_encoded = pd.DataFrame(te_ary, columns=te.columns_)

In [43]:
print("\nFirst 5 rows of the one-hot encoded DataFrame (True indicates presence of item):")

First 5 rows of the one-hot encoded DataFrame (True indicates presence of item):

In [44]:
print(df_encoded.head())

   Instant food products  UHT-milk  abrasive cleaner  artif. sweetener  \
0                  False     False             False             False
1                  False     False             False             False
2                  False     False             False             False
3                  False     False             False             False
4                  False     False             False             False

   baby cosmetics   bags  baking powder  bathroom cleaner   beef  berries  \
0           False  False          False             False  False    False
1           False  False          False             False  False    False
2           False  False          False             False  False    False
3           False  False          False             False  False    False
4           False  False          False             False  False    False

   ...  turkey  vinegar  waffles  whipped/sour cream  whisky  white bread  \
0  ...   False    False    False               False   False        False
1  ...   False    False    False               False   False        False
2  ...   False    False    False               False   False        False
3  ...   False    False    False               False   False        False
4  ...   False    False    False               False   False        False

   white wine  whole milk  yogurt  zwieback
0       False        True   False     False
1       False        True    True     False
2       False       False   False     False
3       False       False   False     False
4       False       False   False     False

[5 rows x 167 columns]

In [45]:
from mlxtend.frequent_patterns import apriori

In [46]:
frequent_itemsets = apriori(df_encoded, min_support=0.01, use_colnames=True)

In [47]:
frequent_itemsets = frequent_itemsets.sort_values(by='support', ascending=False)

In [48]:
frequent_itemsets = frequent_itemsets.sort_values(by='support', ascending=False)

In [49]:
print("\nFrequent Itemsets with more than one item:")
print(frequent_itemsets[frequent_itemsets['itemsets'].apply(lambda x: len(x) > 1)].head())

Frequent Itemsets with more than one item:
     support                        itemsets
65  0.014837  (whole milk, other vegetables)
66  0.013968        (whole milk, rolls/buns)
67  0.011629              (whole milk, soda)
68  0.011161            (whole milk, yogurt)
64  0.010559  (other vegetables, rolls/buns)

In [50]:
from mlxtend.frequent_patterns import association_rules

In [51]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.5)

In [52]:
rules = rules.sort_values(['lift', 'confidence'], ascending=[False, False])

In [53]:
print("\nTop 10 Association Rules (sorted by Lift and Confidence):")
print(rules.head(10))

Top 10 Association Rules (sorted by Lift and Confidence):
Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, representativity, leverage, conviction, zhangs_metric, jaccard, certainty, kulczynski]
Index: []

In [54]:
print("\nAssociation Rules where 'whole milk' is the consequent:")
print(rules[rules['consequents'].apply(lambda x: 'whole milk' in x)].head())

Association Rules where 'whole milk' is the consequent:
Empty DataFrame
Columns: []
Index: []